*,
*::after,
*::before {
    box-sizing: border-box;
}

main {
    margin: 3rem auto;
    padding: 0.5rem;
}

footer {
    height: 3rem;
}

a {
    text-decoration: none;
    color: #3c82bb;
}

.include_article a {
    text-decoration: none;
    padding: 1rem;
    border-radius: 3rem;
    color: rgb(146, 11, 11);

}

.show_article .buttn,
.include_article .buttn {
    text-decoration: none;
    background-color: #3c82bb;
    padding: 0.7rem;
    width: max-content;
    border-radius: 3rem;
    color: #fff;

}

.sub_nav_into-page {
    margin-block: 0.5rem;
    border-top: 3px dotted darkblue;
    display: flex;
    padding: 3rem 1rem;
    justify-content: space-between;
}